* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

body {
    background-color: #afbbc7; 
}


.top {
    height: 90px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 0 10%; 
    background-color: transparent;
}

.content {
    display: flex;
    gap: 20px; /* Khoảng cách giữa các chữ menu */
    color: #333;
    font-weight: bold;
}

.p {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-icon {
    width: 20px;
}

.search-box {
    border: 1px solid #ddd;
    padding: 10px 20px;
    border-radius: 20px;
    color: #888;
    background-color: white;
}



.under {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 50px 10%;
}

/* CỘT TRÁI */
.left {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    gap: 30px;
    padding-right: 50px;
}

.info1 h2 {
    font-size: 50px;
    color: #1A1A2E;
}

.info2 p {
    color: #666;
    line-height: 1.6;
}

.info3 {
    display: flex;
    flex-direction: column;
    border-left: 4px solid #B8005C;
    padding-left: 15px;
    gap: 8px;
}

.info3 img{
    margin-top: 10px;

    width: min-content;
    height: min-content;
}

/* Căn 2 nút nằm ngang */
.info4 {
    display: flex;
    gap: 20px;
}

.btn-start {
    background-color: #B8005C;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.btn-learn {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}


.logos {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}

.logos img {
    height: 25px;
}

/* CỘT PHẢI */
.right {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    position: relative; 
}

.main-img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}


.info7 {
    position: absolute;
    top: 50px;
    left: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instructor {
    display: flex;
    align-items: center;
    gap: 10px;
}

.instructor img {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Bo tròn ảnh giảng viên */
    object-fit: cover;
}

.instructor-text {
    display: flex;
    flex-direction: column;
}

.instructor-text b {
    font-size: 14px;
}

.instructor-text span {
    font-size: 12px;
    color: #888;
}